/* General link styles */

a {
  color: #2176FF;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

/* Navigation links */


.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  color: #5495ff;
}

.nav-link:active {
  color: #185bb5;
}

/* Button */

.btn {
  background-color: #2176FF;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  transition: background-color 0.2s, color 0.2s;
}

.btn:active {
  background-color: #185bb5;
  color: #e0e0e0;
}

.activity {
  border: 1px solid #2176FF;
  cursor: pointer;
  text-decoration: none;
}

/* Activity Buttons */

.activity:hover {
  border: 1px solid #2176FF;
  cursor: pointer;
  text-decoration: underline;
}

.activity:active {
  text-decoration: none;
  background-color: lightblue;
  color: black;
}
